/*
---- px2rem
@include px2rem(height, 240);
*/
$baseFontSize: 75;//默认基准font-size
@mixin px2rem($name, $px){
  #{$name}: $px / $baseFontSize * 1rem;
}

body {
  background: #fff url(../images/bg-red.jpg) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
#app {
  position: relative;
  div {
    position: absolute;
  }
}
.scene1 {
  .elem1-1 {
    bottom: 50px;
    width: 5.72rem;
    height: 10.97rem;
    background: transparent url(../images/1-1.png) 0 0 no-repeat;
    -webkit-background-size: 5.72rem auto;
    background-size: 5.72rem auto;
  }
}